<nav class="navbar navbar-dark">
  <div class="d-flex justify-content-center w-100">
    <div class="row w-100 align-items-center">
      <div class="col-4">
        <span></span>
      </div>
      <div class="col-4">
        <h1 class="navbar-brand m-0 text-center">抽號器</h1>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <button *ngIf="toResult && drawnNumbers.length !== totalNumber" type="button" class="btn btn-danger grouping"
          data-bs-toggle="modal" data-bs-target="#resetModal">重設</button>

        <div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content px-1 py-2">
              <div class="modal-header border-0 pb-0 d-flex flex-column align-items-center">
                <img class="icon-reset" src="../assets/reset.png" alt="">
                <h5 class="modal-title mt-3" id="resetModalLabel">確定要重設嗎？</h5>
              </div>
              <div class="modal-footer border-0 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary grouping" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary grouping" data-bs-dismiss="modal"
                  (click)="reset()">確定</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container my-4">
  <app-entrance *ngIf="!toResult" (drawNum)="getNum($event)"></app-entrance>
  <app-result *ngIf="toResult" [drawNum]="drawNum" [totalNumber]="totalNumber" [drawnNumbers]="drawnNumbers"
    [remainingCount]="totalNumber - drawnNumbers.length" (nextDraw)="drawNextNumber()"></app-result>
</div>
<router-outlet></router-outlet>
